.flex-container {
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.flex-item {
    border: 2px solid black;
    /* border-right: 0px; */
    padding: 10px;
    width: 200px;
}

/* .flex-item:last-child{
    border-right: 2px solid black
} */

.flex-item:first-child{
    align-self: flex-end;
    order: 1;
}
.flex-item:nth-child(2){
    align-self: center;
    order: 2;
}
.flex-item:last-child {
    align-self: flex-start;
    order: 3;
}