<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
</head>
<body>
    <h1>Lista de Contatos</h1>
    <ul type="square">
        {% for contato in contatos %}
            <li>
                <strong>{{ contato.nome }}</strong>
                <small>({{ contato.contato }})</small>
                <small> {{ contato.criado_em }}</small>
            </li>
        {% empty %}
            <li>Nenhum contato registrado</li>
        {% endfor %}
    </ul>
</body>
</html>